<a id= "logout" href="/logout">Logout</a>



<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
       <div class="navbar-header">
           <a class="navbar-brand" href="#">
               <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
               EJS Template
           </a>
    
           <ul class="nav navbar-nav">
               <li><a href="/">Home</a></li>
               <li><a href="/produkter">produkter</a></li>
               <li><a href="/login">admin</a></li>
               <li><a href="/kontakt">Kontakt</a></li>


               
           </ul>
       </div>
    
    </div>
    </nav>