/* #logout{
    margin-left:1080px;
} */
#h1 {
    margin:100px 0 0 -20px !important;
}
#top {
margin:50px 0px 50px 100px  !important;
}

#text{
    margin:50px 100px 0px 100px;
}

img{
    margin: 70px 20px 0 20px;
}

.form-control{
    margin-right:100px;
}
