<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Document</title>
</head>
<body>

        <header>
            <% include ../partials/header %>
        </header>
 <main>

<h1 id="h1"><center>LÆKRE DESIGNER SOFAER</center></h1>

</div>

<center><div class = "col-ms-2">
        <img src="/images/min Asolo 3 pers. Sofa.jpg" alt="FAYE_CHAISE Sofa">
        <img src="/images/min Chaiselong grå Sofa.jpg" alt="FAYE_CHAISE Sofa">
        <img src="/images/min Finesse 2.5 pers. Sofa.jpg" alt="FAYE_CHAISE Sofa">
        <img src="/images/min Junget 3 pers. Sofa.jpg" alt="FAYE_CHAISE Sofa">
        <img src="/images/min Pelham grøn velour Sofa.jpg" alt="FAYE_CHAISE Sofa">
        <img src="/images/min Ria 2 pers. Sofa.jpg" alt="FAYE_CHAISE Sofa">


</div></center>

<h2 id= "top">Sofaer i dansk design</h2>

<h3 id= "text">...alle er de designet med kærlighed til danske møbeltraditioner.

        Fra de helt små 2 personers sofa'er til den store og rummelige 4 personers sofa.
         De er designet i forskellige tekstiler, farver, stilarter og variationer.
        Fra retro til moderne, komfortable loungemøbler samt de helt lette designs.
        
        Ved hvert møbel kan du finde produktspecifikationer, leveringstider samt hvilke farver sofaen som standard er designet i.
        
        Er din favoritmodel ikke at finde i den rette farve? Så kan du designe din egen sofa i vores 'Design din egen...' modul.
        
        Du kan også bestille vores stofprøver direkte hjem i postkassen lige her, 
        så du i ro og mag kan finde den helt rette farve og type til netop dit hjem.
        
        Vi tilbyder livstidsgaranti på træ-rammen og to års garanti på vores øvrige materialer.
         Hvis du vil se og teste vores møbler er du meget velkommen i et af vores showrooms.</h3>

<main>
    <div class = "col-ms-12">
        
            <img src="/images/Rå FAYE_CHAISE.jpg" alt="FAYE_CHAISE Sofa">
        

    </div>

    <div class = "col-ms-2">


    </div>

</main>

</main> 


<footer>
		<% include ../partials/footer %>
    </footer>
    
    <script src="index.js"></script>
    <script src="admin.js"></script>
    <script src="login.js"></script>
    <script src="kontakt.js"></script>



</body>
</html>